<div class="document-wapper">
  <div class="document-header">
    <div class="document-header__home">
      <%= link_to "　ホーム", searches_path, class: "fas fa-home" %>
    </div>
    <div class="document-header__name">
      <%= "#{@item.code}　#{@item.name}　　" %>
      <%= "#{@company.name}　#{@company.office}" %>
    </div>
    <div class="document-header__add">
      <%= link_to "　追加", new_document_path(company_id: @company.id, item_id: @item.id), method: :get, class: 'fas fa-plus'%>
    </div>   
  </div>
  <div class="notifications">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: key) %>
    <% end %>
  </div>
  <div class="document-main">
    <div class="document-main__index">
    <% if @documents.present? %>
      <table class="document-content">
        <tr>
          <th>締結日</th>
          <th>納入仕様書</th>
          <th>投稿者</th>
          <th>備考</th>
        </tr>
        <% @documents.each do |document| %>
        <tr>
          <td><%= "#{document.date}" %></td>
          <td><%= link_to "", "#{document.image}", class: "far fa-file-alt" %></td>
          <td><%= "#{document.author}" %></td>
          <td class="document-content__note">
            <div class="document-content__note--area"><%= "#{document.note}" %></div>
            <div class="document-content__note--icon"><%= link_to "&nbsp;編集".html_safe, edit_document_path(id: document.id), method: :get, class: "fas fa-edit" %></div>
          </td>
          <td class='delete_button'><%= link_to "", document_path(id: document.id, company_id: @company.id, item_id: @item.id), method: :delete, class: "far fa-trash-alt", data: { confirm: '削除しますか？' } %></td>
        </tr>
        <% end %>
      </table>
      <% else %>
        <div class="company-content__none">
          該当のデータはありません
        </div>
      <% end %>
    </div>
  </div>
</div>
