<%= render "layouts/header_home" %>
<%= render "layouts/notifications" %>
<div>
  <div class="company_edit_content-name">
    <div class="company_edit_content-name--content">
      会社名編集
    </div>
  </div>
  <div class="company_edit_content">
    
    <%= form_for @company do |f| %>
      <div class="company_edit_content__company">
        <div class="company_edit_content__company--wrapper">
          <div class="company_edit_content__element">
            ＜会社名＞<br>
            <%= f.text_field :name %>
          </div>
          <div class="company_edit_content__element">
            ＜事業所＞（任意）<br>
            <%= f.text_field :office %>
            <%= hidden_field_tag(:company_id, @company.id) %>
          </div>
          <div class="company_edit_content__input">
            <br>
              <%= f.submit "  登録  "%>
          </div>
        </div>
      
      </div>
    <% end %>
  </div>
</div>
