<div class="company-wapper">
  <div class="company-header">
    <div class="home">
      <%= link_to "", user_searches_path(current_user), class: "fas fa-home" %>
    </div>
    <div class="company-header__name">
      <%=  link_to "#{@company.name}  #{@company.office}", edit_user_companies_path(company_id: @company.id), method: :get %>
    </div>
  </div>
  <div class="company-main">
    <div class="company-main__index">
      <div>
        　　投稿日　　　投稿者　　　コード　　　製品名
      </div>
      
      <div class="company-content">
        <% @documents.each do |document| %>
        <% item = Item.find(document[:item_id]) %>
          <div class="company-content--document">
            <div class="company-content--document--date">
              <%= "#{document.date}" %>
            </div>
            <div class="company-content--document--author">
              <%= "#{document.author}" %>
            </div>
            <div class="company-content--document--image">
              <%= link_to "#{document.image}", user_searches_path(current_user) %>
            </div>
          </div>
          <div class="company-content--item">
            <div class="company-content--item--name">
              <%= link_to "#{item.code}", user_searches_path(current_user) %>
            </div>
            <div class="company-content--item--code">
              <%= link_to "#{item.name}", user_searches_path(current_user) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="company-footer"></div>
</div>