<%= render "layouts/header_home" %>
<%= render "layouts/notifications" %>
<div class="company-main">
  <div class="company-main__name">
    <div class="company-main__name--wrapper">
      <div class="company-main__name--content">
        <%= "#{@company.name}　#{@company.office}" %>
      </div>
        <div class="company-main__name--edit" data=<%= "#{@company.id}" %> >
          <i class="fas fa-edit"></i>
          &nbsp;編集
        </div>
    </div>
  </div>
  <div class="company-main__index">
    <% if @documents.present? %>
      <table class="company-content">
        <tr>
          <th>コード</th>
          <th>製品名</th>
          <th>締結日</th>
          <th>納入仕様書</th>
        </tr>
        <% @documents.each do |document| %>
        <tr>
          <td><%= link_to "#{document.item.code}", individual_items_path(item_id: document.item.id) %></td>
          <td><%= link_to "#{document.item.name}", individual_items_path(item_id: document.item.id) %></td>
          <td><%= "#{document.date}" %></td>
          <td><%= link_to "", "#{document.image}", class: "far fa-file-alt" %></td>
          <td class='detail_css'><%= link_to "", individual_documents_path(item_id: document.item.id, company_id: document.company.id), class: "fas fa-angle-double-right" %></td>
        </tr> 
        <% end %>
      </table>
    <% else %>
      <div class="company-content__none">
        該当のデータはありません
      </div>
    <% end %>
  </div>
</div>

