<div class="wapper">
  <header>
    <div class="name">
      <%= link_to "文書管理", destroy_user_session_path, method: :delete, class: 'btn'%>
    </div>
    <div class="add">
      <%= link_to "", new_user_search_path(current_user), method: :get, class: 'fas fa-plus'%>
    </div>   
  </header>
  <main>
    <div class="search-result-content">
      <div id="search-result">
      </div>
    </div>
    <div class="search-form">
      <%= form_tag search_user_searches_path(current_user), :method => 'get', id: "search-form_id" do %>
        <%= text_field_tag :keyword, "", placeholder: "会社名or製品名", class: "search-input" %>
      <% end %>
    </div>
    <div class="index">
      <div class="index__list">
        <div class="list">
          <table class="list__company">
            <tr>
              <th>社名</th>
              <th>事業所</th>
            </tr>
            <% @companyLists.each do |company| %>
            <tr>
              <td><%= link_to "#{company.name}", user_companies_path(company_id: company.id) %></td>
              <td><%= link_to "#{company.office}", user_companies_path(company_id: company.id) %></td>
            </tr>
            <% end %>
          </table>


          <table class="list__item">
            <tr>
              <th>コード</th>
              <th>製品名</th>
            </tr>
            <% @itemLists.each do |item| %>
            <tr>
              <td><%= link_to "#{item.code}", user_items_path(items_id: item.id) %></td>
              <td><%= link_to "#{item.name}", user_items_path(items_id: item.id) %></td>
            </tr>
            <% end %>
          </table>
        </div>

        <%# <div class="company-list"> %>
          <%# <% @companyLists.each do |company| %>
          <%# <br> %>
          <%# <div class="company-list__element"> %>
            <%# <%= link_to "#{company.id}", user_companies_path(company_id: company.id, user_id: current_user.id, ), class: 'link' %>
            <%# <%= "#{company.name}"  %>
            <%# <%= "#{company.office}" %>
          <%# </div> %>
          <%# <% end %>
        <%# </div> %>
        <%# <div class="item-list"> %>
          <%# <% @itemLists.each do |item| %>
          <%# <br>  %>
          <%# <div class="item-list__element"> %>
            <%# <%= link_to "#{item.id}", user_items_path(items_id: item.id, user_id: current_user.id), method: :get, class: 'link' %>
            <%# <%= "#{item.code}" %>
            <%# <%= "#{item.name}" %>
          <%# </div> %>
          <%# <% end %>
        <%# </div> %>
      </div>
    </div>
  </main>
  <footer></footer>
</div>