<%= render "layouts/header_home" %>
<%= render "layouts/notifications" %>
<div class="item-main">
  <div class="item-main__name">
    <div class="item-main__name--content">
      <%= "#{@item.code}　#{@item.name}" %>
    </div>
  </div>
  <div class="item-main__index">
    <% if @documents.present? %>
      <table class="item-content">
        <tr>
          <th>締結日</th>
          <th>納入仕様書</th>
          <th>会社名</th>
          <th>事業所</th>
        </tr>
        <% @documents.each do |document| %>
        <tr>
          <td><%= "#{document.date}" %></td>
          <td><%= link_to "", "#{document.image}", class: "far fa-file-alt" %></td>
          <td><%= link_to "#{document.company.name}", companies_path(company_id: document.company.id) %></td>
          <td><%= link_to "#{document.company.office}", companies_path(company_id: document.company.id) %></td>
          <td class='detail_css'><%= link_to "", documents_path(item_id: document.item.id, company_id: document.company.id), class: "fas fa-angle-double-right" %></td>
        </tr>
        <% end %>
      </table>
    <% else %>
      <div class="company-content__none">
        該当のデータはありません
      </div>
    <% end %>
  </div>
</div>
